#background-svg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    box-sizing: border-box;
    fill: none;
}

#outer-triangle {
    stroke-width: 10;
    stroke: rgb(38, 38, 204);
}

#middle-triangle {
    stroke-width: 10;
    stroke: rgb(202, 198, 198);
}