@font-face {
  font-family: Orbitron;
  src: url('./static/orbitron.ttf')
}

@font-face {
  font-family: Major-Mono;
  src: url('./static/MajorMonoDisplay.ttf');
}

html {
  background-color: rgb(6, 5, 14);
  color: rgb(250, 245, 245);
  font-family: 'Orbitron', monospace;
  height: 100%;
}

body {
  margin: 0;
  padding: 1%;
  box-sizing: border-box;
  height: 100%;
  -webkit-app-region: drag;
}

.input-field {
  padding: 2%;
  height: calc(5vw - 4%);
  -webkit-app-region: no-drag;
  font-size: 3vw;
}

.input-field[placeholder]:empty:before {
  content: attr(placeholder);
  color: grey;
  font-weight: bolder;
  font-size: 2vw;
  text-transform: uppercase;
}

.output-field {
  padding: 2%;
  min-height: calc(5vw - 4%);
  font-family: 'Major-Mono', monospace;
  font-size: 3vw;
}

#keyword {
  color: gold;
}

.window-control-container {
  display: flex;
  justify-content: flex-end;
}

#close-window-btn {
  -webkit-app-region: no-drag;
  background: none;
  border: none;
  color: skyblue;
  font-size: 3vw;
  padding: 1% 3%;
}

#close-window-btn:hover {
  cursor: pointer;
}