@font-face {
  font-family: Orbitron;
  src: url('./static/orbitron.ttf')
}

@font-face {
  font-family: Major-Mono;
  src: url('./static/MajorMonoDisplay.ttf');
}

html {
  background-color: rgb(6, 5, 14);
  color: rgb(250, 245, 245);
  font-family: 'Orbitron', monospace;
  height: 100%;
}

body {
  margin: 0;
  padding: 1%;
  box-sizing: border-box;
  height: 100%;
  -webkit-app-region: drag;
}

body::-webkit-scrollbar {
  display: none;
}

.input-field {
  padding: 2%;
  min-height: calc(5vw - 4%);
  -webkit-app-region: no-drag;
  font-size: 3vw;
  text-transform: uppercase;
}

.input-field[placeholder]:empty:before {
  content: attr(placeholder);
  color: grey;
  font-weight: bolder;
  font-size: 2vw;
  text-transform: uppercase;
}

.output-field {
  padding: 2%;
  box-sizing: border-box;
  min-height: calc(5vw - 4%);
  font-family: 'Major-Mono', monospace;
  font-size: 3vw;
  -webkit-app-region: no-drag;
}

@keyframes copied {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.copied-notification {
  position: fixed;
  background: rgb(101, 101, 250);
  font-family: 'Orbitron', monospace;
  font-size: 1.5vw;
  padding: 1%;
  animation: copied 0.7s 2 linear alternate;
} 

#original-encrypted:hover {
  cursor: pointer;
}

#keyword {
  color: gold;
}

.window-control-container {
  display: flex;
  justify-content: flex-end;
}

#close-window-btn {
  -webkit-app-region: no-drag;
  background: none;
  border: none;
  color: skyblue;
  font-size: 3vw;
  padding: 1% 3%;
}

#close-window-btn:hover {
  cursor: pointer;
}

@keyframes letterAnim {
  from {
    transform: scale(2);
    text-shadow: 2px 2px 10px rgb(77, 77, 214),
    -2px -2px 10px rgb(77, 77, 214),
    -2px 2px 10px rgb(77, 77, 214),
    2px -2px 10px rgb(77, 77, 214);
  }

  to {
    text-shadow: 0px 0px 0px rgb(77, 77, 214),
    0px 0px 0px rgb(77, 77, 214),
    0px 0px 0px rgb(77, 77, 214),
    0px 0px 0px rgb(77, 77, 214);
    transform: scale(1);
  }
}

.result-letter {
  display: inline-block;
}

.result-letter:last-child {
  animation: letterAnim 0.2s ease-out;
}